 ## Tuple

A tuple in Python is an immutable ordered collection of elements with round brackets

A tuple is similar to a Python list in terms of indexing, nested objects, and repetition but the main difference between both is Python tuple is immutable, unlike the Python list which is mutable.

#### Creating Tuple

In [7]:
t = (1, 2, 3, 4, 5)

print(t[1])
print(t[4])

t = (1, 2, 3, 4, 2, 3)
print(t)

# t[1] = 100 Tuple Dosn't allow Updation
# print(t)

2
5
(1, 2, 3, 4, 2, 3)

#### Accessing Tuple

In [9]:
t = (10, 5, 20)

print("Value in t[0] = ", t[0])
print("Value in t[1] = ", t[1])
print("Value in t[2] = ", t[2])


t = (10, 5, 20)

print("Value in t[-1] = ", t[-1])
print("Value in t[-2] = ", t[-2])
print("Value in t[-3] = ", t[-3])

Value in t[0] =  10
Value in t[1] =  5
Value in t[2] =  20
Value in t[-1] =  20
Value in t[-2] =  5
Value in t[-3] =  10

#### Concatenation

In [14]:
t1 = (0, 1, 2, 3)
t2 = ('python', 'geek')

print(t1 + t2)

(0, 1, 2, 3, 'python', 'geek')

#### Repetition Python Tuples

In [17]:
t = ('python',)*3
print(t)

('python', 'python', 'python')

#### Nesting

In [22]:
t1 = (0, 1, 2, 3)
t2 = ('python', 'geek')

t3 = (t1, t2)
print(t3)

((0, 1, 2, 3), ('python', 'geek'))

#### Slicing

In [27]:
t = (0 ,1, 2, 3)

print(t[1:])
print(t[::-1])
print(t[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

#### Deleting

In [34]:
t = ( 0, 1)

del t
# print(t)

#### Find length

In [37]:
t = ('python', 'java','c++')
print(len(t))

3

#### Converting a List to a Tuple

In [40]:
a = [0, 1, 2]
t = tuple(a)
print(t)

(0, 1, 2)

#### Single Element Tuple

In [43]:
t = (10, ) # Comma is important here
print(t)  # Output: (10,)
print(type(t))

# What if we do not use comma
t = (10) # This an integer (not a tuple)
print(t)  
print(type(t))

(10,)
<class 'tuple'>
10
<class 'int'>

In [47]:
a, b, c = 11, 12, 13
t = (a, b, c)
print(t)

(11, 12, 13)

#### Create a List of Tuples

#### Using Zip

In [52]:
 a = [1, 2, 3]
b = ['apple', 'orange', 'cherry']

res = list(zip(a, b))

print(res)

[(1, 'apple'), (2, 'orange'), (3, 'cherry')]

#### Using Loop

In [55]:
a = [1, 2, 3]
b = ['apple', 'orange', 'cherry']

res = []
for i in range(len(a)):
    res.append((a[i], b[i]))

print(res)

[(1, 'apple'), (2, 'orange'), (3, 'cherry')]

#### Tuple Methods

##### Count() Method

In [61]:
Tuple1 = (0, 1, 2, 3, 2, 3, 1, 3, 2,3,3) 
Tuple2 = ('python', 'geek', 'python', 
		'for', 'java', 'python') 

res = Tuple1.count(3) 
print('Count of 3 in Tuple1 is:', res) 

res = Tuple2.count('python') 
print('Count of Python in Tuple2 is:', res)

Count of 3 in Tuple1 is: 5
Count of Python in Tuple2 is: 3

In [69]:
Tuple1 = (0, 1, (2, 3), (2, 3), 1, 
		[3, 2], 'geeks', (0,), [2,3]) 

print(Tuple1)
res = Tuple.count((2, 3)) 
print('Count of (2, 3) in Tuple is:', res) 

res = Tuple.count([3, 2]) 
print('Count of [3, 2] in Tuple is:', res)

(0, 1, (2, 3), (2, 3), 1, [3, 2], 'geeks', (0,), [2, 3])
Count of (2, 3) in Tuple is: 2
Count of [3, 2] in Tuple is: 1

##### Index() Method

Syntax : tuple.index(element, start, end)

- element: The element to be searched.
- start (Optional): The starting index from where the searching is started
- end (Optional): The ending index till where the searching is done

In [84]:
Tuple = (0, 1, 2, 3, 2, 1, 3, 2 , 3 , 3) 

# getting the index of 3 
res = Tuple.index(3) 
print('First occurrence of 3 is', res) 

# getting the index of 3 after 4th 
# index 
res = Tuple.index(3, 4 , 8) 
print('First occurrence of 3 after 4th index is:', res)

First occurrence of 3 is 3
First occurrence of 3 after 4th index is: 6

In [100]:
# alphabets tuple
alphabets = ('G', 'e', 'e', 'k', 's', 'f', 'o',
			'r', 'G', 'e', 'e', 'k', 's')

# scans 'G' from index 4 to 10 and
# returns its index
index = alphabets.index('G', 4, 10)

print('Index of G in alphabets from index 4 to 10:', index)

Index of G in alphabets from index 4 to 10: 8

##### max() Method

In [87]:
Tuple = ( 1, 3, 4, 2, 5, 6 ) 

print(max(Tuple))

6

In [89]:
# Based on length
Tuple = ( "Geeks", "For", "Geeks", "GeeksForGeeks") 

print(max(Tuple))

GeeksForGeeks

In [91]:
# tuple of equal length elements Where it gives the lexicographically largest string.
alphabets = ('GFG', 'gfg', 'gFg', 'GfG', 'Gfg') 

res = max(alphabets) 
print('Maximum of Tuple is', res)

Maximum of Tuple is gfg

##### min() Method

In [96]:
# Creating tuples 
Tuple = ( -1, 3, 4, -2, 5, 6 ) 

print(min(Tuple))

-2

#### Reversing a Tuple

In [103]:
t = (1, 2, 3, 4, 5) 
rev = t[::-1]

print(rev)

(5, 4, 3, 2, 1)

In [109]:
t = (1, 2, 3, 4, 5)  
rev = tuple(reversed(t))
print(rev)

(5, 4, 3, 2, 1)

#### Remove Duplicates

In [112]:
test_tup = (1, 3, 5, 2, 3, 5, 1, 1, 3)

print("The original tuple is : " + str(test_tup))

# using tuple() + set()
res = tuple(set(test_tup))

print("The tuple after removing duplicates : " + str(res))

The original tuple is : (1, 3, 5, 2, 3, 5, 1, 1, 3)
The tuple after removing duplicates : (1, 2, 3, 5)

In [116]:
test_tup = (1, 3, 5, 2, 3, 5, 1, 1, 3)
print("The original tuple is : " + str(test_tup))

# Removing duplicates from tuple
x=[]
for i in test_tup:
	if i not in x:
		x.append(i)
res=tuple(x)

print("The tuple after removing duplicates : " + str(res))

The original tuple is : (1, 3, 5, 2, 3, 5, 1, 1, 3)
The tuple after removing duplicates : (1, 3, 5, 2)