In [3]:
a = 2
# this is comment
print(a)

2

In [3]:
'''
This is a multi-line comment
'''
print("Hello, world!")

Hello, world!
The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [11]:
#Literals
#String Literals

# in single quotes
a = 'inventam'

# in double quotes
b = "inventam"

# multi-line string
c = ''' hiii
            inventam '''

print(a)
print(b)
print(c)

inventam
inventam
 hiii
            inventam

In [5]:
#character literals

# in single quotes
a = 'a'

# in double quotes
b = "b"

print(a)
print(b)

a
b

In [7]:
#numeric literals

#integer literals
a = 1001

#float literals
b = 12.23

#complex literals
c = 4j

print(a)
print(b)
print(c)

1001
12.23
4j

In [11]:
#boolean literals

a = True

print(a)

True

In [13]:
#literal collection

#list literals
a = [1,2,3,4,5]

#tuple literals
b = ("dhruvi",2,3,True)

#dictionary literals
c = {"a" : "apple", "b" : "ball"}

#set literals
d = {1,2,3,4}

print(a)
print(b)
print(c)
print(d)

[1, 2, 3, 4, 5]
('dhruvi', 2, 3, True)
{'a': 'apple', 'b': 'ball'}
{1, 2, 3, 4}

In [15]:
#special literals

a = None
print(a)

None

In [43]:
#variables

a = "apple"

#local variable

def myfunc():
    x = "super"
    print("The string is " + x)
    
myfunc()

#global variable

def myfunc1():
    global y
    y = "fantastic"
    
myfunc1()

print("Im " + y)

The string is super
Im fantastic

In [3]:
a = "7"
print(complex(a))

(7+0j)

In [5]:
import random

In [7]:
x = random.randint(0,100)
print(x)

83

In [11]:
y = random.uniform(1.1,3.3)
print(y)

2.7649402901547178

In [13]:
import math

In [17]:
x = math.nan
print(x)

nan

In [21]:
x = float("inf")
y = float("-inf")
print(x)
print(y)

inf
-inf

In [23]:
x = None
print(bool(x))

False

In [33]:
x = ()
print(bool(x))

False

In [37]:
x = "my name is dhruvi"
print(bool(x))

True

In [62]:
a = [1,2,3,4]

if 9 in a:
    print("True") 
else:
    print("Flase")

Flase

In [92]:
a = "my name is dhruvi"

a = "M" + a[1:]
print(a)

x = a.replace("dhruvi","Dhruvi")
print(x)
print(a.strip())

print(a)

My name is dhruvi
My name is Dhruvi
My name is dhruvi
My name is dhruvi

In [82]:
g = "   fhgj    "
print(g.strip())

fhgj

In [86]:
s1 = "Hello"
s2 = "Dhruvi"

s3 = s1 + " " + s2
print(s3)

Hello Dhruvi

In [90]:
d1 = "dhruvi "
print(d1*3)

dhruvi dhruvi dhruvi

In [94]:
s = "dhruvi"
g = "dobariya"

print(f"name = {s} , surname = {g}")

name = dhruvi , surname = dobariya

In [102]:
a = []
a.append(2)
print(a)

a.insert(0,4)
print(a)

a.extend([1,2,3,4])
print(a)

[2]
[4, 2]
[4, 2, 1, 2, 3, 4]

In [106]:
name = input("enter your name: ")
print(name)

enter your name:  dhruvi

dhruvi

In [116]:
tup1 = (1,) * 4
tup2 = ("dhruvi","ayush")
tup3 = (tup1 , tup2)
print(tup3)

((1, 1, 1, 1), ('dhruvi', 'ayush'))

In [118]:
print(tup1)

(1, 1, 1, 1)

In [130]:
tup = ("geeks")
n = 5
for i in range(n):
    tup = (tup,)
    print(tup)

('geeks',)
(('geeks',),)
((('geeks',),),)
(((('geeks',),),),)
((((('geeks',),),),),)

In [132]:
tup = ("my","name","dhruvi")
a,b,c = tup
print(a)
print(b)
print(c)

my
name
dhruvi

In [138]:
tup = ("my","name","dhruvi")
for i,name in enumerate(tup,start=1):
    print(f"index {i} : {name}")

index 1 : my
index 2 : name
index 3 : dhruvi

In [144]:
print(list(enumerate(tup,start=1)))

[(1, 'my'), (2, 'name'), (3, 'dhruvi')]

In [25]:
a = 4
b = 7
a <<= b
print(a)

512

In [3]:
sample_data = [
    {"userId": 1, "name": "rahul", "completed": False},
    {"userId": 1, "name": "rohit", "completed": False},
    {"userId": 1, "name": "ram", "completed": False},
    {"userId": 1, "name": "ravan", "completed": True}
]

print("With Python 3.8 Walrus Operator:")
for entry in sample_data:
    if name := entry.get("name"):
        print(f'Found name: "{name}"')

With Python 3.8 Walrus Operator:
Found name: "rahul"
Found name: "rohit"
Found name: "ram"
Found name: "ravan"

In [15]:
a,b,c = True,False,True

if a and b :
    print("both are true")
else:
    print("either")

either

In [11]:
n = 0
res = "positive" if n>0 else "negative" if n<0 else "zero"
print(res)

zero

In [17]:
n = 5
res = ["odd","even"][n % 2 == 0]
print(res)

odd

In [19]:
a = 3
b = 5
res = {True : a,False : b}[a>b]
print(res)

5

In [23]:
a = 4
b = 6
res = (lambda x , y : x if x>y else y)(a,b)
print(res)

6

In [ ]:
for i in range(1,5):
    for j in range(i):
        print(i,end="")
    print()

In [ ]:
n = 0
while (n < 3):
    n += 1
    print("hello")

In [ ]:
for l in "imdhruvi":
    if l == "d" and l == "v":
        conti

In [1]:
a = -6
print(abs(a))

6

In [ ]:
def debugger(a, b):
    import pdb; pdb.set_trace()
    result = a / b
    return result
 
debugger(5, 0)